    <div class="leftbar">
<img src="../image/logo_60.png">
 <a href="https://share-whiteboard.herokuapp.com"  class="fa fa-arrow-left" style="padding:15px; color:#7ABD91;" title="Go back to whiteboard"></a>
    </div>
    <div style="margin-left:80px;">
    	<h2> Whiteboard
    	</h2>
    	<p>

    		The Whiteboard is real time drawing tool,runs on nodejs server.
    	</p>
    	<h4> What we collect</h4>
    	<p> Almost Nothing.<br>
    		Yes we wont collect anything , Just ask your name to display on page for personalization , When you disconnect from server saved name will be removed from server intet.<br>
    		<i><b>We dont use cookies</b></i> , we save server response  in localstorage.
    	</p>
    	<h4>Security</h4>
    	<p>
    		Yes Connection is secured by SSL.<br>

    	</p>
    </div>
